<app-product-search (searchEvent)="search($event)" (keyup)="getAllProduct()"></app-product-search>
<table>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Description</td>
  </tr>
  <tr *ngFor="let product of listProduct">
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
  </tr>
</table>
<button mat-raised-button (click)="changeStatus()">Show Create Form</button>
<app-product-create *ngIf="status" (productSubmit)="addProductToList($event)"></app-product-create>
